repo/*
!repo/AGENTS.md
!repo/repo-list
ticket/*
!ticket/AGENTS.md
context/indices/*
!context/indices/.placeholder

# OpenCode
.opencode/*
!.opencode/skill/
!.opencode/skill/**
!.opencode/agents/
!.opencode/agents/**
.sisyphus

# OpenSpec
openspec
